.ItemCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Count{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.Count button{
    width: 30px;
    height: 30px;
}

.Count h3{
    margin: 0px;
    font-size: 25px;
}

.add{
    margin: 15px;
    padding: 10px 15px;
    font-size: 15px;
}