.ItemCount {
    padding: 5vh 0px;
}

.Stock{
    padding: 2vh 600px ;
    display: flex;
    justify-content: space-between;
}

.Boton{
    border: 2px solid darkblue;
    width: 30px;
    height: 30px;
}

#Carrito{
    margin: 0px 600px;
    padding: 4px;
    border: 2px solid darkblue;
}