.ItemCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h6{
    margin-bottom: 20px;
}

.Count{
    display: flex;
    width: 210px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.Count button{
    width: 30px;
    height: 30px;
}

.Count h3{
    margin: 0px;
    font-size: 25px;
}

.add{
    margin: 15px;
    padding: 10px 30px;
    font-size: 15px;
    letter-spacing: 1.5px;
}